# To run the orchestration function locally but with side effects in the cloud you need
# to create a json key for the service account that runs the functions in the cloud go to:
    #  https://console.cloud.google.com/iam-admin/serviceaccounts
    #  click on the ... option of the service account "ingestion-service-account@PROJECT_NAME"
    #  click on manage keys, 
    #  click on ADD KEY, 
    #  download the json file, DON'T SAVE IN YOUR REPO FOLDER to avoid risks of accidentally pushing it to the repo.
    #  point the env variable below to your json file
    #  before running the orchestration function locally remember to source this file with:
    #     source local_dev.env
    #  run the orchestration function locally with:
    #     python3 orchestration_src/test_main.py

# NOTE: because for terraform deployment we use a different from of authentication you will need to 
# set the GOOGLE_APPLICATION_CREDENTIALS to '' again before running terraform commands 
# otherwise terraform will fail

export GOOGLE_APPLICATION_CREDENTIALS=
export LOCAL_TESTING=LOCAL_WITH_CLOUD_EFFECTS
